body{
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c69;
  color: #fff;
}

.row{
  padding-top: 4.5rem;
  padding-bottom: 2rem;
}


.container{
  padding: 3% 15% 7%;
  /* padding-bottom: 30; */
}

.head{
  font-family: sans-serif !important;
  font-size: 4.3rem;
  line-height: 1.7;
  font-weight: 900;
  margin-bottom: 50px;
}

.btn{
  margin: 10px;
}

/* Navbar */

.navbar{
  padding-left: 0px !important;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.2rem !important;
  font-weight: bold;
}

.nav-item{
  padding-left: 2rem;
}

.nav-link{
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

/* Tittle image */

.tittle-image{
  width: 60%;
  transform: rotate(25deg);
  margin-top: 110px;
  /* margin-left: 125px; */
  right: 20%;
  position: absolute;
}

/* Feature Section */

#features{
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
  /* z-index: 1; */
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.fh3{
  font-family: "Montserrat-Bold";
  font-weight: 700;
  margin-top: 1rem;
}

.icon{
  color: #ef8172;
}

.icon:hover{
  color: #ff4c69;
}

p{
  color: #8f8f8f;
}

/*Testimonials Section*/

#testimonials{
  text-align: center;
  background: #ef8172;
  color: #fff;
}

.th2{
  font-family: "Montserrat-Bold";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.timg{
  width: 20%;
  border-radius: 100%;
  margin: 5%;
}

.carousel-item{
padding: 7% 15%;
}

/* pricing section */

#pricing{
  padding: 7% 15%;
  text-align: center;
}

.pricing-col{
  padding: 3% 2%;
}

/* contact page */


.contact-h1{
  margin-top: 100px;
}

.email{
  color: #968c83;
}

.email:hover{
  color: #555555;
}

/* Download Page */

.download-h1{
  font-family: "Montserrat-Thin";
  margin-top: 100px;
}

.download-h2{
  font-family: "Montserrat-Thin";
  margin-top: 100px;
  margin-bottom: 100px;
}

.txt{
  padding: 7% 15%;
}

/* Pricing page */

.A1{
  color: blue;
}

/* sub d page */

.sub-d{
  background-color: #ff4c69 !important;
}

.dimg{
  height: 20%;
  width: auto;
  margin:10px;
}



/* Media query */

@media(max-width: 1200px) and (min-width: 992px){
  .tittle-image{
    position: static;
    transform: rotate(0);
    margin-left: 125px;
  }
  .introd{
    text-align: center;
  }
}

@media(max-width: 992px){
  .tittle-image{
    position: static;
    transform: rotate(0);
    width: 40%;
  }
  .introd{
    text-align: center;
  }
}
