body{
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c69;
  color: #fff;
}

.row{
  padding-top: 4.5rem;
}


.container{
  padding: 3% 15% 3% 0;
  padding-bottom: 0;
}

.head{
  font-family: "Montserrat-Black" !important;
  font-size: 5rem;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 50px;
}

.btn{
  margin: 10px;
}

/* Navbar */

.navbar{
  padding-left: 0px !important;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem !important;
  font-weight: bold;
}

.nav-item{
  padding-left: 2rem;
}

.nav-link{
  font-family: "Montserrat-Light";
  font-size: 1.2rem;
}

/* Tittle image */

.tittle-image{
  width: 50%;
  transform: rotate(25deg);
  margin-left: 150px;
}


/* contact page */

.contact{
  background-color: #ff4c69 !important;
}

.contact-h1{
  margin-top: 100px;
}

.email{
  color: #fff;
  
}
